<div class="profile__posts flex-c">
  <h2>My Posts</h2>

  <div v-if="true" class="table-container">
    <el-table :data="tableData" stripe style="width: 100%" :show-header="false">
      <el-table-column prop="title" width="250">
        <template #default="{row}">
          <el-link type="primary" @click="handleGetPostdetail('1234')">\{{row.title}}</el-link>
        </template>
      </el-table-column>
      <el-table-column>
        <template #default="{row}">
          <span class="flex cell__cus">
            <el-avatar :src="row.author.url" class="aside-h"></el-avatar>
            <span class="aside-h">\{{row.author.name}}</span>
          </span>
        </template>
      </el-table-column>
      <el-table-column prop="createTime" align="right" />
      <el-table-column fixed="right" width="150">
        <template #default>
          <span class="aside-h cell__cus opt-btn" @click="handlePostEdit('1234')">
            <i class="iconfont icon-edit"></i>
            Edit
          </span>
          <el-popconfirm title="Are you sure to delete this?">
            <template #reference>
              <span class="aside-h cell__cus opt-btn">
                <i class="iconfont icon-delete"></i>
                Delete
              </span>
            </template>
          </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>
  </div>

  <el-empty v-else description="No Data"></el-empty>

  <el-dialog v-model='postDialogControl.showDialog' title='My Post' destroy-on-close
             :before-close="beforeClosePostDialog">
    <el-form ref='postsForm' :rules="postRules" :model='postForm' class="posts__form">
      <el-form-item v-if="postDialogControl.edit" label='Topic' prop='topics'>
        <el-select v-model='postForm.topics' multiple collapse-tags :multiple-limit='3'>
          <el-option v-for='item in TOPICS' :key="item._id" :label="item.title" :value='item._id'>\{{item.title}}
          </el-option>
        </el-select>
      </el-form-item>

      <div class='posts__preview'>
        <el-form-item v-if="postDialogControl.edit" prop='title' class="post__title">
          <el-input v-model='postForm.title' placeholder="Type your title here!"></el-input>
        </el-form-item>
        <h2 v-else class='post__title'>Lecture Rescheduling</h2>

        <div class='post__info-container flex'>
          <el-avatar :src="userInfo?.profilePic ?? '/public/img/default.png'"></el-avatar>
          <span class='post__user-info'>
            <div class='user-info__username'>\{{displayName}}</div>
            <div class='user-info__time'>\{{createTime}}</div>
          </span>
          {{!-- <div class="tag-container">
            <span v-for="item in selectedTopics" :key="item" class='post__tag aside-h'
                  :style="{'--color': `rgb(${item.color})`, '--bg': `rgba(${item.color}, .3)`}"></span>
          </div> --}}
        </div>
        <el-form-item v-if="postDialogControl.edit" prop='body' class="post__content">
          <el-input class='post__body-input' v-model='postForm.body' type='textarea' :show-word-limit='true' :rows="10"
                    placeholder="Type your content here~">
          </el-input>
        </el-form-item>
        <article v-else class='post__content'>
          <p>Hi mates</p>
          <p>
            soi tlked with Dr Hellen and because of her ilner we need to reschedule upcoming Lecture. You propably
            notice
            that this lecture is the last before exam so Dr Hellen asked us also if we want to attend for additional
            lecture where we can study more dfficult excercise soi tlked with Dr Hellen and because of her ilner we need
            to reschedule upcoming Lecture.
          </p>
          <p>
            You propably notice that this lecture is the last before exam so Dr Hellen asked us also if we want to
            attend
            for additional lecture where we can study more dfficult excercise soi tlked with Dr Hellen and because of
            her
            ilner we need to reschedule upcoming Lecture. You propably notice that this lecture is the last before exam
            so
            Dr Hellen asked us also if we want to attend for additional lecture where we can study more dfficult
            excercise
          </p>
        </article>
      </div>
    </el-form>

    <template #footer>
      <el-button v-if="postDialogControl.edit" @click="postDialogControl.showDialog = false">Cancel</el-button>
      <el-button v-if="postDialogControl.edit" type="primary" @click="handleEditConfirm">Confirm</el-button>
      <el-button v-else @click="postDialogControl.edit = true" type="primary">Edit</el-button>
    </template>
  </el-dialog>
</div>