<ul v-if="postList.length" class='post__list-container' v-infinite-scroll="loadMorePost"
    :infinite-scroll-disabled="disabledLoad">
  <li v-for='(item, index) in postList' :key='item' class='post__list-item'>
    <article>
      <h2 class='post__title'>\{{item.title}}</h2>
      <div class='post__info-container flex'>
        <el-avatar :size="50" :src="item.profilePic" alt="avatar"></el-avatar>
        <div class='post__user-info'>
          <div class='user-info__username'>\{{item.name}}</div>
          <div class='user-info__time'>\{{item.createTime}}</div>
        </div>
        <div class="tag-container">
          <span v-for="topic in item.topicsList" :key="topic._id" class='post__tag aside-h'
                :style="{'--color': `rgb(${topic.color})`, '--bg': `rgba(${topic.color}, .3)`}">\{{topic.title}}</span>
        </div>
      </div>
      <div class='post__content' :class="{omit: showMoreDetailIndex !== index}" v-html="item.content">
      </div>
    </article>
    <div class='post__operation-container flex'>
      <el-button type="info" class="aside-h" size="mini" round @click="handleSeeMore(index, item._id)">
        \{{showMoreDetailIndex === index ? 'Hide' : 'See More'}}
      </el-button>
      <i v-if="auth" class="iconfont post__operation-like" :class="item.popularity ? 'icon-like-fill' : 'icon-like'"
         @click="handleLikes(index, item._id)"></i>
    </div>
    <div class="form__comment flex">
      <el-input class="aside-h" label="comment" v-model="item.comment" placeholder="Add a comment"></el-input>
      <el-button class="aside-h" type="primary" @click="handleSubmitComment(item._id, item.comment, index)" circle>
        <i class="iconfont icon-send"></i>
      </el-button>
    </div>

    <div class="post__comment-container">
      <div class="comment__bar" @click="handleShowComments(index, item._id)">
        <i class="iconfont icon-down" :data-show-list="showComment === index"></i>
      </div>
      <el-collapse-transition>
        {{> home/CommentList}}
      </el-collapse-transition>
    </div>
  </li>
</ul>
<el-empty v-else></el-empty>